<div class="header">
  <div class="nameHeader">
    Quentin Beraud
  </div>
  <section class="navHeader">
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Skill</li>
      <li>Work</li>
    </ul>
  </section>
  <section class="projectHeader">
    <div class="projectHeaderTitle">P R O J E C T 1</div>
    <ul>
      <li>Context</li>
      <li>Fonctionnalité</li>
      <li>Diagramme</li>
      <li>Link</li>
    </ul>
    <div class="projectHeaderTitle">P R O J E C T 2</div>
    <ul>
      <li>Context</li>
      <li>Fonctionnalité</li>
      <li>Diagramme</li>
      <li>Link</li>
    </ul>




  </section>
  <section class="contactHeader">
    <div class="contactHeaderTitle">C O N T A C T</div>
    <ul>
      <li>Mail</li>
      <li>LinkedIn</li>
      <li>GitHub</li>
      <li>CV</li>
    </ul>
  </section>
</div>